# Copyright (C) 2020 Casper Meijn <casper@meijn.net>
#
# SPDX-License-Identifier: CC0-1.0

.gdb_cmds
.next-version
.openocd_cmds
CHANGELOG.md
CMakeLists.txt
openocd.log
.idea/
.vscode/
bin/
cmake-build-debug/
repos/
